################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ToDoApp/FileContentIndex
/.vs/ToDoApp
/.vs/ToDoApp/CopilotIndices/17.12.31.40377/SemanticSymbols
/.vs/ToDoApp/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
/.vs/ToDoApp/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
/.vs/ToDoApp/CopilotIndices/17.12.31.40377/CodeChunks
/.vs/ToDoApp/CopilotIndices/17.12.31.40377/CodeChunks.db-wal
/.vs/ToDoApp/CopilotIndices/17.12.31.40377/CodeChunks.db-shm
/.vs/ToDoApp/v17/.suo
