################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Aman/MovieLibraryBackend/.vs
/Aman/MovieLibraryBackend/obj
/Aman/MovieLibraryBackend/bin/Debug/net8.0
